<div class="container">
  <h1>All your bookings</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <% if policy(booking).create? %>
        <%= link_to booking_path(booking) do %>
          <div class="card">
            <p> Status: <%= booking.status %> </p>
            <p> Rocket: <%= booking.rocket.name%> </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Back to all rockets", rockets_path, class: "btn btn-primary" %>
</div>
