<div class="container">
  <p>Are you sure you want to book this awesome rocket?</p>
  <%= link_to "Back to all rockets", rockets_path, class: "btn btn-primary my-2" %>

  <%= simple_form_for [@rocket, @booking] do |f| %>
    <%= f.submit "Confirm booking", class: "btn btn-primary my-2"%>
  <% end %>
</div>
