<div class="cont">
  <h4>Contact Information</h4>
  <div class="footer">
    <div class="person">
      <h6>Janus Vollmer</h6>
      <div class="footer-links">
        <a href="https://github.com/noesch"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="person">
      <h6>Janus Vollmer</h6>
      <div class="footer-links">
        <a href="https://github.com/noesch"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="person">
      <h6>Janus Vollmer</h6>
      <div class="footer-links">
        <a href="https://github.com/noesch"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
