<div class="cont">
  <h4>Contact Information</h4>
  <div class="footer">
    <div class="person">
      <h6>Janus Vollmer</h6>
      <div class="footer-links">
        <a href="https://github.com/noesch"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/janus-vollmer-9a486a94"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="person">
      <h6>Louis Neubauer</h6>
      <div class="footer-links">
        <a href="https://github.com/louisneubauer"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/louis-neubauer-1193681bb"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="person">
      <h6>Max von Wedemeyer</h6>
      <div class="footer-links">
        <a href="https://github.com/maxeduard"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/max-eduard-v-wedemeyer-aba97a157"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
