
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="banner">
    <h1><strong>R</strong>ent a <strong>R</strong>ocket</h1>
  </div>
  <div class="container">
  </div>
</body>
