<div class="container">
  <h1>Welcome to Rent a Rocket</h1>
  <br>
  <p>The number one place on this planet to rent Rockets </p>
  <p> All sizes, colors and shapes</p>
  <p>Now with organic fuel</p>

  <%= link_to "Our Rockets", rockets_path, class: "btn btn-primary"%>
</div>
