.banner {
  background-image: url("https://3dprintingindustry.com/wp-content/uploads/2021/06/29_SPACE4_Logo-1.png");
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 150px;
  text-shadow: 2px,2px,1px,#74747466;
  background-size: cover ;
}

.banner h1 {
  font-size: 64px;
  letter-spacing: 2px;
  color: aliceblue;
}

.banner strong {
  font-size: 100px;
}
