.card {
  height: 450px;
  width: 350px;
  border: solid 2px lightgray;
  padding: 5px;
  color: black;
  margin-bottom: 20px;
  text-decoration: none;
  box-shadow: 10px 5px 5px grey;
  border-radius: 4px;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}


.description {
  font-size: small;

  p {
  text-align: center;
  }
}

.address {
  font-size: small;
  p {
    text-align: left;
  }
}

.booked {
  border: solid 2px lightgray;
  padding: 24px 16px;
}
