<div class="container">
  <h1>Hi</h1>
  <%= simple_form_for [@booking, @review] do |f|%>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit "create", class: "btn btn-primary"%>
  <% end %>
</div>
